@import "../../scss/global.scss";

.footer {
  background-color: $primaryBlue;
  color: white;
  padding: 64px 128px;

  .org-name {
    font-family: Staatliches;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }

  .we-serve {
    font-family: Staatliches;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
  }
}
